.CustomLink {
    color: black;
	margin-bottom: 15px;
    font-size: 30px;
    text-decoration: none;
}


.CustomLink .active {
    color: royalblue;
	border-bottom: 3px solid royalblue;
    font-weight: 700;
    font-size: xx-large;
    text-decoration: dashed;
}